body {
  background-color: #1a3331;
  color: #88a27e;
  overflow-x: hidden;
  overflow-y: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.brand {
  margin: 30px;
}

.nav-brand-text {
  color: #88a27e;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.play-button {
  background-color: #188b34;
  border-width: 0px;
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.corner-img {
  position: fixed;
  right: -150px;
  bottom: -150px;
}

main {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
  margin: 15px;
}

.box {
  background: linear-gradient(to right, #88a27e 4px, transparent 4px) 0 0,
    linear-gradient(to left, #88a27e 4px, transparent 4px) 100% 100%,
    linear-gradient(to bottom, #88a27e 4px, transparent 4px) 0 0,
    linear-gradient(to top, #88a27e 4px, transparent 4px) 100% 100%;

  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 10px;
}

footer {
  margin-top: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
}

@media (max-width: 320px) {
  .corner-img {
    display: none;
  }
}

@media (max-width: 767px) {
  body {
    overflow-y: scroll;
  }

  .corner-img {
    position: fixed;
    right: -200px;
    bottom: -200px;
  }
}

@media (max-width: 1023px) {
  .corner-img {
    display: none;
  }
}

.animate {
  position: relative;
  animation-name: animate;
  animation-duration: 1s;
}

@keyframes animate {
  from {
    bottom: -10px;
    opacity: 0.5;
  }

  to {
    bottom: 0;
    opacity: 1;
  }
}
